<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="blockChain">
      <h2 data-cy="blockChainDetailsHeading"><span jhiTranslate="systemProIotApp.blockChain.detail.title">Block Chain</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ blockChain.id }}</span>
        </dd>
        <dt><span jhiTranslate="systemProIotApp.blockChain.block">Block</span></dt>
        <dd>
          <span>{{ blockChain.block }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/block-chain', blockChain.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
