<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome to SystemProIot!</h1>
    <br />
    <br />
    <br />
    <p>
      <span jhiTranslate="home.like">Project repository link</span>
      <a href="https://github.com/fabian-camayo/systemProIot" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >SystemProIot</a
      >!
    </p>
  </div>
</div>
